/* @import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Dosis;
    src: url(./Dosis-VariableFont_wght.ttf);
}

* {
    font-family: "Dosis", sans-serif;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }